 .sidenav {
     transition: width 0.3s 0.3s ease-in;

     left: 0;
     background-color: rgba(5, 28, 49, 0.979);
     padding-top: 28px;
     position: fixed;
     min-height: 100%;
     width: 18vw;
     bottom: 0;
     display: block;
     font-size: 21px;

 }

 .sidenavClosed {
     composes: sidenav;
     transition: width 0.2s 0.3s ease-out;

     width: 60px;
 }

 .sideitem {
     display: flex;
     align-items: center;
     padding-left: 16px;
     padding-top: 15px;
     padding-bottom: 15px;
     padding-right: 15px;
     font-size: 16.8px;
     margin: 5px auto;
     cursor: pointer;
     color: #ffffff;
     text-decoration: none;
 }

 .linkText {
     padding-left: 16px;

 }

 .linkTextClosed {
     composes: linkText;
     visibility: collapse;

 }

 .sideitem:hover {
     background-color: #244f7d;
 }

 .menuBtn {
     align-self: flex-end;
     justify-self: flex-end;
     color: #fafafa;
     background-color: transparent;
     border: none;
     cursor: pointer;
     padding-left: 16px;
 }

 /* .sidenav {
     width: calc(10vw + 12%);
     transition: width 0.8s ease-in-out;
     left: 0;
     background-color: rgb(10, 25, 41);
     padding-top: 28px;
     position: fixed;
     min-height: 100%;
     bottom: 0;
     display: block;
 }

 .sidenavClosed {
     composes: sidenav;
     transition: width 0.4s ease-in-out;
     width: 60px;
 }

 .sideitem {
     display: flex;
     align-items: center;
     padding-left: 16px;
     padding-top: 15px;
     padding-bottom: 20px;
     padding-right: 16px;

     cursor: pointer;
     color: #d4d8dd;
     text-decoration: none;
 }

 .linkText {
     padding-left: 16px;
 }

 .linkTextClosed {
     composes: linkText;
     visibility: collapse;

 }

 .sideitem:hover {
     background-color: #20487436;
 }

 .sideitem::after:active {
     background-color: royalblue;
 }

 .menuBtn {
     align-self: center;
     align-self: flex-start;
     justify-self: flex-end;
     color: #b2bac2;
     background-color: transparent;
     border: none;
     cursor: pointer;
     padding-left: 16px;
 } */